.form {
  padding-left: clamp(2.5rem, -0.7143rem + 6.6964vw, 5.3125rem);
  background-color: #f4f4f4;
  padding-right: 145px;
  padding-top: 37px;
  padding-bottom: 48px;
}
.title {
  font-size: clamp(1.4375rem, 0.9881rem + 1.6798vw, 2.5rem);
  margin-bottom: 10px;
  color: var(--title-color);
}
.subtitle {
  margin-bottom: clamp(1.875rem, 1.3463rem + 1.9763vw, 3.125rem);
  font-size: clamp(0.875rem, 0.7164rem + 0.5929vw, 1.25rem);
  color: #a5a5a5;
  white-space: nowrap;
}
