.modal {
  padding-inline: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--backdrop);
}
.modalContent {
  position: relative;
  border-radius: 30px;
}
