.post {
  --content-height: clamp(14.1875rem, 11.7821rem + 8.9921vw, 19.875rem);
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.08);
  border-radius: 21px;
  padding: 30px 25px;
  min-width: clamp(17.4375rem, -9.0469rem + 84.75vw, 38.625rem);
  max-width: clamp(17.4375rem, -9.0469rem + 84.75vw, 38.625rem);
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  @media (max-width: 900px) {
    grid-template-columns: auto;
    max-width: 279px;
    min-width: 279px;
  }
  .imgContainer {
    max-width: var(--content-height);
    max-height: var(--content-height);
    height: auto;
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      display: inline-block;
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
    .duration {
      position: absolute;
      bottom: 5px;
      right: 5px;

      color: white;
    }
  }
  .desc {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: var(--content-height);
    overflow: hidden;
    @media (max-height: 900px) {
      max-height: 528px;
    }
  }
  .showMore {
    color: var(--title-color);
    text-decoration: underline;
    font-size: clamp(0.875rem, 0.8221rem + 0.1976vw, 1rem);
    &:visited {
      cursor: default;
      color: var(--green-bd);
      text-decoration: underline;
      text-decoration-color: var(--green-bd);
    }
  }
}
