.footer {
  background: url("./bg.jpg") no-repeat;
  background-size: cover;
  padding-block: 40px 24px;
  .container {
    display: flex;
    flex-direction: column;
    .questions {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      .left {
        flex-grow: 1;
        .questionTitle {
          font-size: clamp(1.4375rem, 0.9881rem + 1.6798vw, 2.5rem);
          color: white;
          max-width: 800px;
          margin-bottom: 16px;
        }
        .questionDesc {
          color: white;
          letter-spacing: -0.02em;
          opacity: 0.57;
          font-size: clamp(1.4375rem, 1.1996rem + 0.8893vw, 2rem);
        }
      }

      .askForm {
      }
    }

    .mainBlock {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: rgba(44, 43, 42, 0.63);
      padding: 32px 40px;
      border-radius: 16px;
      margin-bottom: 25px;
      .header {
        display: flex;

        .logo {
          path:first-child {
            fill: white !important;
          }
          margin-right: clamp(1.25rem, -9.5192rem + 16.8269vw, 5.625rem);
        }

        .nav {
          color: white;
          flex-grow: 1;
          .list {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
            row-gap: 9px;
            width: min-content;
            .item {
              white-space: nowrap;

              font-size: 12px;
              line-height: 140%;
            }
          }
        }
        @media (max-width: 713px) {
          flex-direction: column;

          gap: 16px;
          .nav {
            order: 1;
          }
        }
      }

      .body {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        color: white;
        @media (max-width: 455px) {
          align-items: flex-start !important;
          .contactsTitle {
            text-align: left !important;
          }
        }
        .contactsTitle {
          font-size: clamp(1.4375rem, 1.4111rem + 0.0988vw, 1.5rem);
          line-height: 140%;
          text-align: right;
        }
        .contactsList {
          line-height: 140%;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-auto-flow: column;
          font-size: 12px;
          column-gap: 13px;
          row-gap: 9px;
          .contactsItem {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 3px;
          }
        }
      }

      .mbFooter {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .socials {
          display: flex;
          align-items: center;
          gap: 8px;
          a {
            width: 40px;
            height: 40px;

            background-color: white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              transform: scale(0.6);
            }
          }
        }
        .addressContainer {
          line-height: 130%;
          font-size: 12px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          text-align: right;
        }
      }
      @media (max-width: 713px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .body {
          text-align: right;
        }
        .mbFooter {
          grid-column: span 2;
        }
      }
      @media (max-width: 545px) {
        display: flex;
        align-items: center;
        .header {
          a:first-child {
            display: flex;
            justify-content: center;
            svg {
              margin-right: 0;
            }
          }
        }
        .body {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          .contactsList {
            .contactsItem {
              text-align: center;
              align-items: center;
            }
          }
        }
        .mbFooter {
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          .addressContainer {
            align-items: flex-start;

            text-align: left;
          }
        }
      }
      @media (max-width: 455px) {
        align-items: flex-start !important;
        * {
          align-items: flex-start;
        }
        .list,
        .contactsList {
          display: flex !important;
          flex-direction: column !important;

          text-align: left !important;

          .contactsTitle {
            text-align: left !important;
          }
          .contactsItem {
            align-items: flex-start !important;
            text-align: left !important;
          }
        }
      }
    }

    .copyright {
      font-size: 10px;
      color: white;
      font-weight: 350;
      line-height: 140%;
    }
  }
}
