.list {
  display: flex;
  gap: 30px;
  padding-left: 10px;
  padding-block: 10px;
  overflow: auto;
  min-width: 100vw;
  &::-webkit-scrollbar {
    display: none;
  }
}
.listController {
  top: 20px;
  right: 15%;
}
