.section {
  margin-bottom: clamp(3.125rem, 1.8034rem + 4.9407vw, 6.25rem);
}
.title {
  font-size: clamp(1.4375rem, 0.9881rem + 1.6798vw, 2.5rem);
  color: var(--title-color);
  margin-bottom: 10px;
}
.description {
  font-size: clamp(0.875rem, 0.7164rem + 0.5929vw, 1.25rem);
  font-weight: 350;
  margin-bottom: 30px;
}
.categories {
  padding: 5px;
  background-color: white;
  display: flex;
  gap: 28px;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.04);
  border-radius: 48px;
  margin-bottom: clamp(1.875rem, 1.3463rem + 1.9763vw, 3.125rem);
  flex-wrap: wrap;
  width: max-content;
  @media (max-width: 648px) {
    box-shadow: none;
    width: auto;
    gap: 15px 20px;
    background-color: transparent;
  }
}

.categoryButton {
  padding: 10px 22px;
  background-color: transparent;
  font-size: clamp(0.875rem, 0.7164rem + 0.5929vw, 1.25rem);
  white-space: nowrap;
  border-radius: 48px;
  &.active {
    background-color: var(--green-01);
  }
  @media (max-width: 648px) {
    &:not(.active) {
      box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.04);
      background-color: white;
    }
  }
}
.active {
}
