:root {
  --width-container: 1200px;
  --inline-padding-container: 20px;

  --textColor: #1d1e1b;
  --bodyColor: #fff;

  --black-bd: #2c2b2a;
  --green-bd: #52ae32;
  --green-01: #73ff4a;
  --green-02: #e9fce2;
  --gray-3: #828282;
  --backdrop: rgba(0, 0, 0, 0.35);
  --title-color: #1d1e1b;

  --negative: #eb5757;

  --green-gradient: linear-gradient(
    102deg,
    #01ff0b 0%,
    #45eb0b 46.42%,
    #01ff0b 100%
  );
}
